# 環境変数・秘密情報
.env

# ログ
logs/
*.log

# Python
__pycache__/
*.py[cod]
*.egg-info/
.pytest_cache/
.mypy_cache/

# 仮想環境
.venv/
venv/

# エディタ / OS
.vscode/
.idea/
.DS_Store
Thumbs.db

# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/

# Claude Codeの設定
.claude/

# lp
lp/

# pdf
*.pdf